body {
  background: linear-gradient(-45deg, #000000, #4d4d4d, #999999, #cccccc); /* Dark to light gray */
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures that the body covers the whole viewport */
  margin: 0;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Makes the root element fill the viewport */
}

.main-content {
  flex-grow: 1; /* Pushes the footer to the bottom */
}


