body {
  background: linear-gradient(-45deg, #d1a6c8, #e1a6a1, #a6b1e1, #a6e1d1);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures that the body covers the whole viewport */
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Makes the root element fill the viewport */
}

.main-content {
  flex-grow: 1; /* Pushes the footer to the bottom */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
