.hero-section {
    padding: 20px 15%; /* Add left and right padding for content */
    text-align: center;
}

.grey-bg {
    background-color: #f0f0f0; /* Grey background color */
}

.white-bg {
    background-color: #ffffff; /* White background color */
}

.margin-imp {
    margin: 0; /* No margin for the section itself */
}

.left-aligned {
    text-align: left;
}

.features {
    display: flex;
    justify-content: space-around; /* Distribute space evenly between features */
    margin-top: 20px;
}

.feature-item {
    margin-top: 15px;
    text-align: center; /* Center align content within the feature item */
}

.feature-item h3 {
    font-weight: bold; /* Make feature title bold */
    margin-top: 10px; /* Add spacing above the title */
}

.feature-item p {
    margin-top: 5px; /* Space between title and description */
}

.team-members {
    display: flex;
    justify-content: space-around; /* Distribute space evenly between team members */
    margin-top: 20px;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    border-radius: 50%; /* Make images circular */
    margin-bottom: 10px;
}

/* Button Styles */
.btn-get-started {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 12.5px 20px;
    border: none;
    border-radius: 5px; /* Rounded edges */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px; /* Add gap between buttons */
}

.btn-get-started:hover {
    background-color: #333; /* Darker shade on hover */
    
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
}

.btn-learn-more {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: medium;
    padding: 12.5px 20px;
    border: 1px solid grey; /* Thin grey outline */
    border-radius: 5px; /* Rounded edges */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-learn-more:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
    
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
}


