.recent-container {
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.papers-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paper-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  background-color: #f9f9f9;
  color: black;
}

.paper-links {
  margin-top: 10px;
}

.paper-links a {
  margin-right: 15px;
  text-decoration: none;
  color: black;
}

.paper-link { /* New class for the title link */
  text-decoration: none; /* Remove underline */
  color: black; /* Ensure the link is black */
}

.download-button {
  background-color: pink;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
}

.download-button:hover {
  background-color: #0056b3;
}
